#header {
  display: flex;
  padding: 5px;
}

.body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  align-items: center;
  margin: 150px;


}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.header-div {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.header-logo {
  padding: 10px 15px;
  float: left;
  display: block;
  height: 100%;
}

.navbar{
  display: flexbox;
  flex-direction: row-reverse;

}


.nav-div nav {
  height: 100%;
  float: left;

}

.nav-div nav ul {
  height: 100%;
  float: left;
}

.nav-div nav li {
  height: 100%;
  margin: 20px;
  text-align: center;
  vertical-align: middle;
}

.login-div {
  display: flex;
  margin-left: 30px;
  text-align: right;
  height: 100%;
}

.login-div a {
  margin-right: 20px;
  height: 100%;
}


p {
  
}

.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  position: relative;
  float: right;
  margin-left: 800px;
  margin-top: 120px;
  display: flex;

}